@{
    ViewBag.Title = "Ha ocurrido un error";
    Layout = "_Layout";
}

<div class="row-fluid">
    <div class="col-md-12">
        <h2>Lo sentimos, ha ocurrido un error al intentar procesar la solicitud.</h2>
    </div>
</div>
