@{
    ViewBag.Title = "Ha ocurrido un error";
    Layout = "~/Views/Shared/_LayoutPublieventos.cshtml";
}

<div class="row">
    <h2 class="title-section">HA OCURRIDO UN ERROR</h2>
    <div class="col-md-12" style="margin: 100px 0px 100px 0px;">
        <div class="col-md-4">
            <img style="float: right; height: 130px;" src="/Content/Publieventos/Images/NotAuthorized.jpg" alt="" />
        </div>
        <div class="col-md-8">
            <h1>LO SENTIMOS</h1>
            <h2>Ha ocurrido un error.</h2>
        </div>
    </div>
</div>
