<div data-bind="foreach: Comments">
    <div class="row-fluid" style="margin-bottom: 20px">
        <div class="col-md-12">
            <div class="col-md-1" style="margin-right: 20px; width: 13%;">
                <a href="#" data-bind="click: UserProfile">
                    <img data-bind="attr: { src: ImageProfile, title: UserName }" alt="Perfil del usuario" class="profile-comment img-circle right" data-src="holder.js/60x60">
                </a>
            </div>
            <div class="col-md-10 bubble-comment">
                <div class="comment-detail">
                    <p class="font-comment" data-bind="text: Detail"></p>
                </div>
                <div>
                    <small data-bind="text: ElapsedTime" style="float: left; font-size: 10px;"></small>
                </div>
                <div class="actions-comment">
                    <a data-bind="visible: !IsReported(), click: ShowReportModal" title="Reportar" href="#"><i class="icon-default icon-ban-circle"></i></a>

                    <a data-bind="visible: EnabledActions, click: ShowCommentModal" title="Editar" href="#"><i class="icon-default icon-pencil"></i></a>
                    <a data-bind="visible: EnabledActions, click: DeleteComment" style="padding-left: 7px" title="Eliminar" href="#"><i class="icon-default icon-remove"></i></a>

                    <div data-bind="visible: IsReported()" style="display: none; display: inline; float: left; padding-right: 20px; color: #f00">
                        <strong style="font-size: 11px !important">Has Reportado este Comentario</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p data-bind="visible: Comments().length == 0" style="font-size: 20px; margin-top: 30px;" class="not-found-message">No Hay Comentarios Disponibles</p>
