<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>

<script type="text/javascript">
    $(function () {
        google.maps.event.addDomListener(window, 'load', initialize);

        function initialize() {
            var pos = new google.maps.LatLng(-34.921091, -57.954029);

            var mapOptions = {
                center: pos,
                zoom: 13
            };

            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            var input = (document.getElementById('pac-input'));
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            var options = {
                componentRestrictions: { country: 'AR' }//Argentina solamente.
            };

            var autocomplete = new google.maps.places.Autocomplete(input, options);
            autocomplete.bindTo('bounds', map);

            var infowindow = new google.maps.InfoWindow();
            var marker = new google.maps.Marker({
                map: map,
                anchorPoint: new google.maps.Point(0, -29)
            });

            // Devuelve la dirección.
            function setDirection(address_components) {
                var address = '';
                if (address_components != null) {
                    address = [
                        (address_components[1] && address_components[1].short_name || ''),
                        (address_components[0] && address_components[0].short_name || ','),
                        (address_components[2] && address_components[2].short_name || '')
                    ].join(' ');
                }

                return address;
            }

            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                infowindow.close();
                marker.setVisible(false);
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    return;
                }

                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(17);  // Why 17? Because it looks good.
                }

                marker.setPosition(place.geometry.location);

                // Seteo los hidden para guardar la posición.
                if (place.geometry.location.B != undefined && place.geometry.location.k != undefined) {
                    setLatLng(place.geometry.location.k, place.geometry.location.B);
                } else {
                    $('#Latitude').val("");
                    $('#Longitude').val("");
                }

                marker.setVisible(true);

                var address = setDirection(place.address_components);

                infowindow.setContent('<div><strong>' + address + '</strong><br>');
                infowindow.open(map, marker);
            });

            google.maps.event.addListener(map, 'click', function (event) {
                $('#pac-input').val("");
                infowindow.close();
                marker.setVisible(false);

                if (!event.latLng) {
                    $('#Latitude').val("");
                    $('#Longitude').val("");

                    return;
                }

                var geocoder = new google.maps.Geocoder();

                marker.setPosition(event.latLng);

                var myLatLng = event.latLng;
                var lat = myLatLng.lat();
                var lng = myLatLng.lng();
                var latlng = new google.maps.LatLng(lat, lng);

                setLatLng(lat, lng);
                marker.setVisible(true);

                //Code to reverse geocode follows
                geocoder.geocode({ 'latLng': latlng }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        if (results[1]) {
                            //Busco la dirección.
                            var address = setDirection(results[0].address_components);

                            infowindow.setContent('<div><strong>' + address + '</strong><br>');
                            infowindow.open(map, marker);
                        }
                    } else {
                        alert("Geocoder falló en la búsqueda: " + status);
                    }
                });
            });
        }
    });

    function setLatLng(latitude, longitude) {
        $('#Latitude').val(latitude.toString());
        $('#Longitude').val(longitude.toString());
    }
</script>
<input id="pac-input" class="controls" type="text" placeholder="Ingrese la dirección" />
<div id="map-canvas" style="height: 400px; width: 100%;"></div>
