<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&sensor=false&language=es"></script>
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>

<style>
    .infoWindow {
        padding-top: 5px;
        background: #333;
        color: #FFF;
        font-family: 'MuseoSans-500';
        font-size: 12px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        text-shadow: 0 -1px #000000;
        -webkit-box-shadow: 0 0 8px #000;
        box-shadow: 0 0 8px #000;
        width: 200px;
        height: auto;
    }
</style>

<script type="text/javascript">
    $(function () {
        google.maps.event.addDomListener(window, 'load', initialize);

        function initialize() {
            var latlng = new google.maps.LatLng(parseFloat($('#Latitude').val().replace(",", ".")), parseFloat($('#Longitude').val().replace(",", ".")));

            var icons = {
                start: new google.maps.MarkerImage(
                 "/Content/themes/images/star.png"
                ),
                end: new google.maps.MarkerImage(
                 '/Content/themes/images/star-gray.png'
                )
            };

            //var line = new google.maps.Polyline({
            //    strokeColor: '#FF0000',
            //    strokeOpacity: 0.5,
            //    strokeWeight: 4
            //});

            var infoBoxs = [];
            var markersArray = [];
            var directionsDisplay = new google.maps.DirectionsRenderer({ suppressMarkers: true, suppressInfoWindows: true });
            var directionsService = new google.maps.DirectionsService();

            var mapOptions = {
                center: latlng,
                zoom: 15,
                styles: stylesMap[0]
            };

            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            var input = (document.getElementById('pac-input'));
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            var options = {
                componentRestrictions: { country: 'AR' }//Argentina solamente.
            };

            var autocomplete = new google.maps.places.Autocomplete(input, options);
            autocomplete.bindTo('bounds', map);

            directionsDisplay.setMap(map);
            directionsDisplay.setPanel(document.getElementById("directionsPanel"));
            directionsDisplay.setOptions({
                draggable: true
            });

            if ($('#Latitude').val() != "" && $('#Longitude').val() != "") {
                makeMarker(latlng, icons.start);
            }

            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    return;
                }

                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                }

                // Seteo los hidden para guardar la posición.
                if (place.geometry.location.B != undefined && place.geometry.location.k != undefined) {
                    // Armo el recorrido.
                    calcRoute(place.geometry.location.k, place.geometry.location.B);
                    setLatLng(place.geometry.location.k, place.geometry.location.B);
                } else {
                    $('#DestinationLatitude').val("");
                    $('#DestinationLongitude').val("");
                }
            });

            google.maps.event.addListener(map, 'click', function (event) {
                $('#pac-input').val("");

                if (!event.latLng) {
                    $('#DestinationLatitude').val("");
                    $('#DestinationLongitude').val("");

                    return;
                }

                calcRoute(event.latLng.lat(), event.latLng.lng());
                setLatLng(event.latLng.lat(), event.latLng.lng());
            });

            function calcRoute(latDestination, lngDestination) {
                var lat = parseFloat($('#Latitude').val().replace(",", "."));
                var lng = parseFloat($('#Longitude').val().replace(",", "."));

                var start = new google.maps.LatLng(lat, lng);
                var end = new google.maps.LatLng(latDestination, lngDestination);

                if ((lat != latDestination || lng != lngDestination) && lngDestination != "" && latDestination != "") {
                    $('#infoRoutes').hide();

                    var selectedMode = document.getElementById("mode").value;

                    // Limpio los markers anteriores.
                    for (i in markersArray) {
                        markersArray[i].setMap(null);
                    }

                    for (i in infoBoxs) {
                        infoBoxs[i].close();
                    }

                    //line.setMap(null);

                    var request = {
                        origin: start,
                        destination: end,
                        travelMode: google.maps.TravelMode[selectedMode],
                        unitSystem: google.maps.UnitSystem.METRIC,
                        provideRouteAlternatives: true
                    };

                    directionsService.route(request, function (result, status) {
                        if (status == google.maps.DirectionsStatus.OK) {
                            directionsDisplay.setDirections(result);

                            //var options = {
                            //    path: result.routes[0].overview_path
                            //}
                            //line.setOptions(options);
                            //line.setMap(map);

                            var leg = result.routes[0].legs[0];

                            makeMarker(leg.start_location, icons.start);
                            makeMarker(leg.end_location, icons.end);
                        } else {
                            makeMarker(start, icons.start);
                        }
                    });
                }
            }

            function makeMarker(position, icon) {
                var geocoder = new google.maps.Geocoder();

                geocoder.geocode({ 'latLng': position }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        address = results[0].formatted_address;

                        var infobox = new InfoBox({
                            content: "<div class='infoWindow'>" + address + "</div>",
                            disableAutoPan: false,
                            zIndex: null,
                        });

                        var markerEnd = new google.maps.Marker({
                            position: position,
                            map: map,
                            icon: icon
                        });

                        infobox.open(map, markerEnd);
                        markersArray.push(markerEnd);
                        infoBoxs.push(infobox);
                    }
                });
            }

            $('#mode').change(function () {
                calcRoute($('#DestinationLatitude').val(), $('#DestinationLongitude').val());
            });

            $(document).on('click', '.mapStyle', function () {
                var mapOptions = {
                    styles: stylesMap[$(this).attr('rel')]
                };

                map.setOptions(mapOptions);
                return false;
            });
        }
    });

    function setLatLng(latitude, longitude) {
        $('#DestinationLatitude').val(latitude.toString());
        $('#DestinationLongitude').val(longitude.toString());
    }
</script>
<div class="row-fluid">
    <div class="span8">
        <input id="pac-input" class="controls" type="text" placeholder="Ingrese la dirección" />
        <div id="map-canvas" style="height: 600px; width: auto"></div>
        <div style="position: absolute; top: 90%;">
            <p class="label-lobster" style="display: inline;">Medio de Transporte </p>
            <select class="form-control" style="width: 250px; display: inline;" id="mode">
                <option class="font-text" value="DRIVING">Auto</option>
                <option class="font-text" value="WALKING">Caminando</option>
                <option class="font-text" value="BICYCLING">Bicicleta</option>
                <option class="font-text" value="TRANSIT">Transporte Público</option>
            </select>
        </div>
        <nav id="colorNav">
            <ul>
                <li class="red">
                    <a href="#" class="icon-cogs"></a>
                    <ul>
                        <li><a class="mapStyle" rel="1" href="#">Gris</a></li>
                        <li><a class="mapStyle" rel="2" href="#">Gris Claro</a></li>
                        <li><a class="mapStyle" rel="0" href="#">Azul</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="span4">
        <div id="infoRoutes" style="margin-left: 5px; overflow: auto; font-size: 15px; position: absolute;" class="alert alert-warning" role="alert">
            <i class="glyphicon glyphicon-info-sign"></i><strong>Seleccione un lugar
                                                             <br />
                para marcar su recorrido al evento...</strong>
        </div>
        <div id="directionsPanel" style="overflow: auto; font-size: 12px; height: 600px;"></div>
    </div>
</div>
