<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>

<style>
    .infoWindow {
        padding-top: 5px;
        background: #333;
        color: #FFF;
        font-family: 'MuseoSans-500';
        font-size: 12px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        text-shadow: 0 -1px #000000;
        -webkit-box-shadow: 0 0 8px #000;
        box-shadow: 0 0 8px #000;
        width: 200px;
        height: auto;
        cursor: pointer;
    }

    .infoBox {
        width: 200px !important;
    }
</style>

<script type="text/javascript">
    $(function () {
        google.maps.event.addDomListener(window, 'load', initialize);

        function initialize() {
            var pos = new google.maps.LatLng(-34.921091, -57.954029);

            var mapOptions = {
                center: pos,
                zoom: 15
            };

            var geocoder = new google.maps.Geocoder();
            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            var input = (document.getElementById('pac-input'));
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            var options = {
                componentRestrictions: { country: 'AR' }//Argentina solamente.
            };

            var autocomplete = new google.maps.places.Autocomplete(input, options);
            autocomplete.bindTo('bounds', map);

            var infoBoxs = [];
            var markersArray = [];

            if ($('#Latitude').val() != "" && $('#Longitude').val() != "") {
                makeMarker(new google.maps.LatLng(parseFloat($('#Latitude').val()), parseFloat($('#Longitude').val())));
            }

            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    return;
                }

                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                }

                // Seteo los hidden para guardar la posición.
                if (place.geometry.location.B != undefined && place.geometry.location.k != undefined) {
                    setLatLng(place.geometry.location.k, place.geometry.location.B);
                    makeMarker(new google.maps.LatLng(place.geometry.location.k, place.geometry.location.B));
                } else {
                    $('#Latitude').val("");
                    $('#Longitude').val("");
                }
            });

            google.maps.event.addListener(map, 'click', function (event) {
                $('#pac-input').val("");

                if (!event.latLng) {
                    $('#Latitude').val("");
                    $('#Longitude').val("");

                    return;
                }

                var myLatLng = event.latLng;
                var lat = myLatLng.lat();
                var lng = myLatLng.lng();
                var latlng = new google.maps.LatLng(lat, lng);

                setLatLng(lat, lng);
                makeMarker(latlng);
            });

            function makeMarker(position) {
                for (i in markersArray) {
                    markersArray[i].setMap(null);
                }

                for (i in infoBoxs) {
                    infoBoxs[i].close();
                }

                geocoder.geocode({ 'latLng': position }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        address = results[0].formatted_address;

                        var infobox = new InfoBox({
                            content: "<div class='infoWindow'>" + address + "</div>",
                            disableAutoPan: false,
                            zIndex: null,
                        });

                        var markerEnd = new google.maps.Marker({
                            position: position,
                            map: map,
                            icon: "/Content/themes/images/star.png"
                        });

                        infobox.open(map, markerEnd);
                        markersArray.push(markerEnd);
                        infoBoxs.push(infobox);

                        google.maps.event.addListener(markerEnd, 'click', function (e) {
                            infobox.open(map, markerEnd);
                        });
                    } else {
                        setLatLng("", "");
                    }
                });
            }
        }
    });

    function setLatLng(latitude, longitude) {
        $('#Latitude').val(latitude.toString());
        $('#Longitude').val(longitude.toString());
    }
</script>
<input id="pac-input" class="controls" type="text" placeholder="Ingrese la dirección" />
<div id="map-canvas" style="height: 400px; width: 100%;"></div>
