@model List<MultimediaContentSummaryModel>

@using PubliEventos.Web.Models.EventModels;

@if (Model.Any())
{
    var active = "active";

    <div class="col-md-12" style="margin-top: 20px; margin-bottom: 30px;">
        <div id="carousel-movies" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner" role="listbox">
                @foreach (var content in Model)
                {
                    <div class="item @active">
                        <div data-bind="visible: true" style="position: absolute; color: #f00">
                            <strong>Has Reportado este video</strong>
                        </div>
                        <nav class="actions-contents">
                            <ul>
                                @if (ViewData["UserId"] != null && (int)ViewData["UserId"] == (User as PubliEventos.Web.App_Start.CustomPrincipal).Id)
                                {
                                    <li><a class="deleteContent" title="Eliminar" rel="@content.FileName" href="#"><i style="margin-bottom: -14px" class="icon-contents icon-remove"></i></a></li>
                                }
                                <li><a class="reportMovie" title="Reportar" rel="@content.FileName" href="#"><i class="icon-contents icon-ban-circle"></i></a></li>
                            </ul>
                        </nav>
                        <video class="movies" controls poster="">
                            <source src="/Content/images/EventsPictures/@content.FileName" type="video/mp4">
                            <source src="/Content/images/EventsPictures/@content.FileName" type="video/webm">
                            Su navegador no soporta este contenido.
                        </video>
                    </div>
                                active = "";
                }
            </div>
            <!-- Controls -->
            <a class="carousel-control" style="width: 20px !important" href="#carousel-movies" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" style="color: #B89C83" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" style="background-image: none; width: 20px !important;" href="#carousel-movies" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" style="color: #B89C83" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
}
else
{
    <div id="regionNotFoundMovies" class="row-fluid">
        <div class="col-md-6 offset3">
            <p style="font-size: 20px; margin-top: 30px;" class="not-found-message">No Hay Videos Disponibles</p>
        </div>
    </div>   
    
}

<div id="regionNotFoundMovies" class="row-fluid" style="display: none">
    <div class="col-md-6 offset3">
        <p style="font-size: 20px; margin-top: 30px;" class="not-found-message">No Hay Videos Disponibles</p>
    </div>
</div>
