<div data-bind="visible: MyPictures().length > 0" class="col-xs-12" style="margin-top: 20px; margin-bottom: 30px;">
    <div id="carousel-pictures" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner" data-bind="foreach: MyPictures" role="listbox">
            <div data-bind="attr: { 'class': Active() }" class="item">
                <div data-bind="visible: IsReported()" class="reportMessage" style="position: absolute; color: #f00;">
                    <strong style="font-size: 11px !important">Has Reportado esta foto</strong>
                </div>
                <img class="pictures" data-bind="attr: { src: Path }" alt="">
            </div>
        </div>
        <!-- Controls -->
        <a class="carousel-control" data-bind="visible: MyPictures().length > 0" style="width: 20px !important" href="#carousel-pictures" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" style="color: #B89C83" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" data-bind="visible: MyPictures().length > 0" style="background-image: none; width: 20px !important;" href="#carousel-pictures" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" style="color: #B89C83" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div data-bind="visible: MyPictures().length == 0" class="row">
    <div class="col-md-6 offset3">
        <p style="font-size: 20px; margin-top: 30px;" class="not-found-message">No Hay Fotos Disponibles</p>
    </div>
</div>
