<div class="col-md-3" style="height: 500px">
    <div class="col-md-12 event-mosaic">
        <div class="image-container">
            <img class="image-mosaic-event img-rounded" data-bind=" click: EventDetail, attr: { src: PicturePath }" style="cursor: pointer" data-src="holder.js/120x120/auto">
        </div>
        <div>
            <h4 class="event-title" style="cursor: pointer" data-bind="text: Title, click: EventDetail"></h4>
            <div class="">
                <div>
                    <p class="font-text event-date" data-toggle="tooltip" data-placement="top" title="Fecha de realización">
                        <i class="icon-calendar">&nbsp</i><small class="text-muted" data-bind="text: EventDate"></small>
                    </p>
                </div>
                <div>
                    <p class="font-text event-date" data-toggle="tooltip" data-placement="top" title="Hora de realización">
                        <i class="icon-time">&nbsp</i><small class="text-muted" data-bind="text: EventTime"></small>
                    </p>
                </div>
            </div>
        </div>
        <div class="margin-bottom-normal margin-top-normal">
            <p class="font-text" data-bind="text: Description"></p>
        </div>
        <div class="margin-bottom-normal margin-top-normal" style="padding-bottom: 30px">
            <div style="float: right" data-bind="visible: EnabledActions">
                <a href="#" data-toggle="tooltip" data-placement="top" title="Invitar" data-bind="visible: !AlreadyTookPlace, click: InviteToEvent">
                    <i class="icon-default icon-user"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Subir Contenidos" data-bind="click: UploadContents">
                    <i class="icon-default icon-picture"></i></a>
            </div>
            <div style="float: left;">
                <a href="#" data-toggle="tooltip" data-placement="top" title="Compartir en Twitter" data-bind="TwitterButton: { title: Title, id: Id }" target="_blank">
                    <img class="shared-social" src="/Content/themes/images/twitter.png" /></a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Compartir en Facebook" data-bind="click: fbShare">
                    <img class="shared-social" src="/Content/themes/images/facebook.jpeg" /></a>
                <div id="fb-root"></div>
            </div>
        </div>
    </div>
    <div class="col-md-12 event-mosaic">
        <img class="image-admin-event img-responsive img-rounded" data-toggle="tooltip" data-placement="top" title="Ver perfil" data-bind="attr: { src: PathProfile }, click: Profile" style="cursor: pointer" data-src="holder.js/60x60/auto">
        <div class="admin-name-container">
            <p class="admin-name" data-bind="text: Administrator"></p>
        </div>
    </div>
</div>
