@using PubliEventos.Web.Helpers

<li style="margin-bottom: 40px;">
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="tl-circ">
                <img data-bind=" click: EventDetail, attr: { src: PicturePath }" style="cursor: pointer" class="img-circle img-cover" data-src="holder.js/120x120/auto">
            </div>
            <div class="timeline-panel" style="margin-top: 1%;">
                <div class="tl-heading">
                    <h4 class="font-text" style="cursor: pointer" data-bind="text: Title, click: EventDetail"></h4>
                    <br />
                    <p class="font-text" style="display: inline; padding-right: 5px;">
                        <i class="icon-calendar" title="Fecha de realización"></i><small class="text-muted" data-bind="text: EventDate">&nbsp</small>
                    </p>
                    <p class="font-text" style="display: inline">
                        <i class="glyphicon glyphicon-time" title="Hora de realización"></i><small class="text-muted" data-bind="text: EventTime">&nbsp</small>
                    </p>
                </div>
                <br />
                <div class="tl-body">
                    <p class="font-text" data-bind="text: Description"></p>
                </div>
                <div class="col-md-12" style="margin-top: 15px; margin-bottom: -18px;">
                    <div data-bind="visible: EnabledActions">
                        <a href="#" title="Invitar" data-bind="visible: !AlreadyTookPlace, click: InviteToEvent">
                            <span style="font-size: 25px; margin-top: -5px;" class="icon-default icon-user"></span></a>
                        <a href="#" title="Subir Contenidos" data-bind="click: UploadContents">
                            <span style="font-size: 25px; margin-top: -5px;" class="icon-default icon-picture"></span></a>
                    </div>
                    <div style="padding: 0 7px 5px; float: right;">
                        <a href="#" title="Compartir en Twitter" data-bind="TwitterButton: { title: Title, id: Id }" target="_blank">
                            <img class="shared-social" src="/Content/themes/images/twitter.png" /></a>
                        <a href="#" data-bind="click: fbShare">
                            <img class="shared-social" src="/Content/themes/images/facebook.jpeg" /></a>
                        <div id="fb-root"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
