@Model PubliEventos.Web.Models.EventsModel
@using PubliEventos.Domain.Domain

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}

<div class="col-xs-12" style="padding-top: 25px !important">
    <div class="page-header">
        <h1 class="title">PUBLIEVENTOS</h1>
    </div>
    <div>
        <table class="table table-striped">
            <tbody>
                @foreach (Event e in Model.events)
                {
                    <tr>
                        <td class="table-event">
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img src="/Content/images/@e.CoverPhoto" style="width: 130px; height: 130px;" alt="" class="img-thumbnail" data-src="holder.js/130x130"></a>
                                <div class="media-body">
                                    <a href="#">
                                        <h4 class="media-heading">@e.Title</h4>
                                    </a>
                                    <p style="color: blanchedalmond">@e.Description</p>
                                    <p style="color: blanchedalmond">@e.Detail</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="col-xs-1"></tr>
                }
            </tbody>
        </table>
    </div>
</div>
