@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PubliEventos.Contract.Class
@Scripts.Render("/Scripts/jquery.blockUI.js")

<div class="row-fluid" style="margin-top: 3%">
    <div class="col-md-12">
        <div class="row-fluid">
            <div class="col-xs-12">
                <div class="col-md-12">
                    <img class="image-cloud" alt="nube" src="/Content/themes/images/cloud_1.png" />
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <ul class="timeline">
                @foreach (var EventGroup in ViewBag.events)
                {
                    <li>
                        <div class="tldate">@EventGroup</div>
                    </li>
                    
                    foreach (var EventSingle in EventGroup)
                    {
                    @Html.Partial("Partial/_LeftBubble", (Event)EventSingle)
                    }
                }
            </ul>
        </div>
        <nav class="navbar-fixed-bottom" style="margin-right: 20px">
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control search" id="s" style="width: 300px" placeholder="Buscar...">
                </div>
            </form>
        </nav>
    </div>
</div>
