.header {
    min-height: 180px;
}

.label-login {
    float: right;
    color: #5f9977 !important;
}

.image-container {
    margin-top: 15px;
}

.login-form {
    width: 70%;
}

.tabs-login {
    width: 50%;
}

.login-form #login {
    width: 50%;
}

.image-profile {
    float: right;
}

.username {
    color: #5f9977;
    float: right;
    margin-right: 10px;
}

.distance-form {
    right: 40px;
    top: 30px;
}

.current-date {
    font-size: 18px;
}

.actions-group {
    visibility: hidden;
}


.text {
    width: 80% !important;
}

.title-section {
    height: 65px;
    padding-top: 17px;
}

.search-form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.my-events-actions {
    display: none;
}

.actions-comment {
    visibility: hidden;
}

.report-event-message {
    float: left;
    padding-right: 25px;
    font-size: 14px;
}

.close {
    display: none;
}

.imageBox {
    height: 400px;
    width: 400px;
}