/*#region Generales*/

.image-profile {
    float: right;
}

/*#endregion*/

/*#region Index*/

/** timeline panels **/
.timeline li .timeline-panel {
    width: 42%;
}

.timeline li.timeline-inverted .timeline-panel {
    float: right;
    margin-right: -1%;
    margin-top: 1%;
}

    .timeline li.timeline-inverted .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    .timeline li.timeline-inverted .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }

.timeline li .timeline-panel.noarrow:before, .timeline li .timeline-panel.noarrow:after {
    top: 0;
    right: 0;
    display: none;
    border: 0;
}

/** panel arrows **/
.timeline li .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline li .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

/** timeline circle icons **/
.timeline li .tl-circ {
    top: 65px;
}

/*#endregion*/

/*#region Barra superior */

.username {
    float: right;
}

/*#endregion*/

/*#region Groups*/

.group-name-text {
    font-size: 30px !important;
}

/*#endregion*/

/*#region Search Events by Distance*/

.distance-form {
    left: 54%;
    top: 25px;
}

.distance-form {
    padding: 10px;
}

/*#endregion*/
