/*#region Generales*/

.image-border {
    border: 2px solid #a69567;
}

.image-profile {
    float: left;
    margin-right: 5px;
}

/*#endregion*/

/*#region Index */

@media (max-width: 450px) {
    ul.timeline li .timeline-panel {
        padding: 13px;
    }

    .bubble-comment {
        min-height: 160px;
    }
}

.timeline li .timeline-panel {
    width: 100%;
}

/** timeline circle icons **/
.timeline li .tl-circ {
    top: 45px;
}

/*#endregion*/

/*#region Comments*/

.actions-comment {
    padding-top: 130px;
    display: block;
}

.profile-after {
    position: absolute;
    border: 1px solid;
    width: 1px;
    background-color: #a69567;
    left: 50%;
}

.actions-contents {
    margin-top: -55px !important;
    left: 83% !important;
}

/*#endregion*/

/*#region Barra superior */

.username {
    float: left;
}

/*#endregion*/

/*#region Groups*/

.group-name-text {
    font-size: 20px;
}

/*#endregion*/

/*#region Search Events by Distance*/

.distance-form {
    top: 42px;
}

.distance-form {
    padding: 4px;
}

/*#endregion*/
