
/*#region Generales */

body {
    font-size: 14px;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    background-image: url("/Content/themes/images/background_tile.jpg");
    padding-top: 10px;
}

p, strong, label {
    font-family: 'MuseoSans-500';
}

.label-lobster {
    font-family: 'Lobster 1.4';
    color: #B89C83;
    font-size: 17px;
}

.font-text {
    font-family: 'MuseoSans-500';
    color: #5f6364;
    font-size: 14px;
}

h4.font-text {
    font-size: 17px !important;
}

header, footer, nav, section {
    display: block;
}

.body-modal {
    background-image: url("/Content/themes/images/background_tile.jpg");
}

.table-event {
    background-color: #333333 !important;
}

.icon-default {
    float: right;
    height: 20px;
    width: 20px;
    font-size: 15px;
    color: #B89C83;
}

    .icon-default:hover {
        text-decoration: none;
    }

.btn-confirm {
    height: 35px;
    min-width: 94px;
    font-size: 15px;
    background-color: #AAA172;
    color: white;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    font-family: 'MuseoSans-500';
}

.btn-cancel {
    height: 35px;
    min-width: 94px;
    font-size: 15px;
    background-color: #AAA172;
    color: white;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    font-family: 'MuseoSans-500';
}

.active-link {
    color: #2a6496;
}

.margin-bottom-normal {
    margin-bottom: 10px;
}

.title-modal {
    font-family: 'Lobster 1.4';
    color: #B89C83;
    font-size: 25px;
    padding-left: 10px;
    padding-top: 10px;
}

.region-buttons {
    margin-top: 15px;
    color: #B89C83;
    border-top: 1px solid #B89C83;
    padding-bottom: 15px;
}

header {
    margin-bottom: 30px;
}

    header h1 {
        font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
        color: #fff;
        margin-bottom: 10px;
    }

    header a {
        color: orange;
    }

.modal {
    color: #333;
}

.subtitle {
    font-family: 'Lobster 1.4';
    color: #B89C83;
    border-bottom: 1px solid #B89C83;
}

.image-profile {
    width: 50px;
    height: 50px !important;
    position: relative;
    float: right;
    margin-left: 3%;
}

.well-form {
    background-color: #E9E6DA;
}

.login-form {
    margin-top: 5%;
}

.modal-lg {
    max-width: 900px;
    height: 350px;
}

/*#region Select2 styles */

.select2-search-choice-close {
    top: 10px !important;
}

/*#endregion */

@media (min-width: 768px) {
    .modal-lg {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

@font-face {
    font-family: 'orange_juiceregular';
    src: url('/Content/themes/fonts/orange_juice_2.0-webfont.eot'), url('/Content/themes/fonts/orange_juice_2.0-webfont.eot?#iefix') format('embedded-opentype'), url('/Content/themes/fonts/orange_juice_2.0-webfont.woff') format('woff'), url('/Content/themes/fonts/orange_juice_2.0-webfont.ttf') format('truetype'), url('/Content/themes/fonts/orange_juice_2.0-webfont.svg#orange_juiceregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Delicious SmallCaps';
    src: url('/Content/themes/fonts/Delicious-SmallCaps.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lobster 1.4';
    src: url('/Content/themes/fonts/Lobster 1.4.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans-500';
    src: url('/Content/themes/fonts/2BC051_0_0.eot');
    src: url('webfonts/2BC051_0_0.eot?#iefix') format('embedded-opentype'), url('/Content/themes/fonts/2BC051_0_0.woff') format('woff'), url('/Content/themes/fonts//2BC051_0_0.ttf') format('truetype');
}

/*#endregion */

/*#region Secciones dentro de una vista */

.subtitle-sections {
    list-style: none;
    font-family: 'Lobster 1.4';
    color: #B89C83;
    font-size: 17px;
}

    .subtitle-sections li {
        list-style-type: none;
        display: inline;
        padding-right: 10px;
    }

    .subtitle-sections a:hover {
        text-decoration: none;
    }

/* #endregion */

/*#region Mosaico */
.mosaic {
    background-color: #F6ECE7;
    border-radius: 15px 15px 15px 15px;
    border: 2px solid;
    box-shadow: 10px 10px 5px #888888;
    border-color: #B89C83;
    margin-bottom: 1%;
}


    .mosaic:hover .verticaltabs-container {
        display: block;
    }

/*#endregion */

/*#region Vertical Menu */

.verticaltabs-container {
    display: none;
}

    .verticaltabs-container ul {
        position: absolute;
        padding-left: 4%;
        list-style: none;
        padding-top: 8px;
    }

.vertical-list-item a:focus {
    background-color: none !important;
}

/*#endregion */

/*#region Boton file */

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
        overflow: hidden;
    }

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input {
    content: 'Seleccione Archivo';
    display: inline-block !important;
    font-family: 'MuseoSans-500';
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    background: -moz-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    background-color: #DDD;
    text-align: center !important;
    position: relative;
    min-width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    display: none;
}

    .custom-file-input:hover::before {
        border-color: black;
    }

    .custom-file-input:active::before {
        background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
        background: -moz-linear-gradient(top, #e3e3e3, #f9f9f9);
    }

/*#endregion */

/*#region  Title */

.title {
    color: #a69567;
    font-family: orange_juiceregular;
    font-size: 45px;
    display: inline;
}

    .title:hover {
        text-decoration: none;
    }

.sections-title {
    color: #a69567;
    font-family: orange_juiceregular;
    font-size: 20px;
    display: inline;
    margin-right: 5px;
}

    .sections-title:hover {
        text-decoration: none;
    }

/*#endregion */

/*#region Barra superior */

.username {
    font-family: 'orange_juiceregular';
    font-size: 23px;
    color: #a69567;
    float: right;
    padding-top: 8px;
}

    .username:hover {
        color: #2a6496;
    }

.glyphicon-chevron-down {
    color: #a69567;
}

.log-out {
    width: 50px;
    height: 50px;
    float: right;
    background-image: none;
}

/*#endregion */

/*#region Filter */

.filter-section {
    background-color: #E9E6DA;
    border-radius: 15px 15px 15px 15px;
    border: 2px solid;
    border-color: #B89C83;
    margin-bottom: 1%;
    padding-bottom: 25px;
    padding-top: 10px;
}


/*#endregion */

/* #region Validaciones */

.field-validation-error {
    background-color: transparent;
    color: #f00;
    font-size: 11px;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00 !important;
    background-color: #fee !important;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.table .t-left th {
    text-align: left;
}

/*#endregion */

/*#region  Index */
img {
    border: 0;
}

.page-header h1 {
    font-size: 3.26em;
    text-align: center;
    color: #efefef;
    text-shadow: 1px 1px 0 #000;
}

.container-index {
    width: 50%;
    margin-left: 3%;
    margin-top: 2%;
    display: inline;
}

.container-total-index {
    margin-left: 0%;
    margin-top: 4%;
}

.image-cloud {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    z-index: 1;
    position: absolute;
}

/** timeline box structure **/
.timeline {
    list-style: none;
    padding: 35px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #a69567;
        left: 50%;
        margin-left: -1.5px;
    }

.tldate {
    display: block;
    width: 200px;
    background: #a69567;
    border: 3px solid #a69567;
    color: #ededed;
    margin: 0 auto;
    padding: 3px 0;
    font-weight: bold;
    text-align: center;
    -webkit-box-shadow: 0 0 11px rgba(0,0,0,0.35);
    margin-top: 25px;
}

.timeline li {
    margin-bottom: 25px;
    position: relative;
}

    .timeline li:before, .timeline li:after {
        content: " ";
        display: table;
    }

    .timeline li:after {
        clear: both;
    }

    .timeline li:before, .timeline li:after {
        content: " ";
        display: table;
    }

    /** timeline panels **/
    .timeline li .timeline-panel {
        width: 42%;
        float: left;
        margin-left: -1%;
        background: #fff;
        border: 1px solid #d4d4d4;
        margin-top: -1%;
        padding: 20px;
        position: relative;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    }

        /** panel arrows **/
        .timeline li .timeline-panel:before {
            position: absolute;
            top: 26px;
            right: -15px;
            display: inline-block;
            border-top: 15px solid transparent;
            border-left: 15px solid #ccc;
            border-right: 0 solid #ccc;
            border-bottom: 15px solid transparent;
            content: " ";
        }

        .timeline li .timeline-panel:after {
            position: absolute;
            top: 27px;
            right: -14px;
            display: inline-block;
            border-top: 14px solid transparent;
            border-left: 14px solid #fff;
            border-right: 0 solid #fff;
            border-bottom: 14px solid transparent;
            content: " ";
        }

        .timeline li .timeline-panel.noarrow:before, .timeline li .timeline-panel.noarrow:after {
            top: 0;
            right: 0;
            display: none;
            border: 0;
        }

    .timeline li.timeline-inverted .timeline-panel {
        float: right;
        margin-right: -1%;
        margin-top: 1%;
    }

        .timeline li.timeline-inverted .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        .timeline li.timeline-inverted .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }


    /** timeline circle icons **/
    .timeline li .tl-circ {
        position: absolute;
        top: 65px;
        text-align: center;
        line-height: 35px;
        border: 3px solid #a69567;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        z-index: 1;
    }

.img-cover {
    width: 120px !important;
    height: 120px !important;
}

/** timeline content **/

.tl-heading h4 {
    margin: 0;
    color: #c25b4e;
}

.tl-body p, .tl-body ul {
    margin-bottom: 0;
}

.tl-body > p + p {
    margin-top: 5px;
}

/** media queries **/
@media (max-width: 991px) {
    .timeline li .timeline-panel {
        width: 44%;
    }
}

@media (max-width: 700px) {
    .page-header h1 {
        font-size: 1.8em;
    }

    ul.timeline:before {
        left: 40px;
    }

    .tldate {
        width: 140px;
    }

    ul.timeline li .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline li .tl-circ {
        top: 22px;
        left: 22px;
        margin-left: 0;
    }

    ul.timeline > li > .tldate {
        margin: 0;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}

/* #endregion */

/*#region Estilo Mapas */

#map-canvas {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 500px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
}

    #pac-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px; /* Regular padding-left + 1. */
        width: 501px;
    }

.pac-container {
    font-family: Roboto;
}

/*#endregion */

/*#region Groups */

.div-group-name {
    min-height: 200px !important;
}

.group-name-text {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    font-size: 30px;
    position: absolute;
    text-align: center;
}

.message-group {
    font-size: 30px;
    text-align: center !important;
}

/*#endregion */

/*#region Invitations */

.invitation-user {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    font-size: 30px;
    position: absolute;
    text-align: center;
    color: #c25b4e;
}

.invitation-title {
    font-family: 'Comic Sans MS';
    font-size: medium;
    text-align: center;
    color: #2a6496;
}

.profile-invitation {
    height: 70px;
    width: 70px;
}

.mosaic-invitation:hover .invitation-actions {
    display: block;
}

.invitation-actions {
    display: none;
}

.participants-image-profile {
    height: 40px;
    width: 40px;
}

.participants-user {
    padding-top: 10px;
    font-size: 15px;
    text-align: center;
    color: #c25b4e;
    min-height: 40px;
}

.partipants-panel {
    width: 350px !important;
    height: 400px !important;
    border-radius: 15px 15px 15px 15px;
    border: 2px solid;
    box-shadow: 10px 10px 10px 10px #888888;
    border-color: #B89C83;
}

/*#endregion*/
