body
{
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff !important;
    background-image: url("../Content/themes/images/background.jpg") !important;
}

header, footer, nav, section
{
    display: block;
}

.table-event {
    background-color: #333333 !important;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

.editor-label
{
    margin: 1em 0 0 0;
}

.editor-field
{
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #f00;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid
{
    display: none;
}

.table .t-left th
{
    text-align: left;
}

body
{
    padding-top: 60px;
    background: #222;
    color: #fff;
}

header
{
    margin-bottom: 30px;
}

    header h1
    {
        font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
        color: #fff;
        margin-bottom: 10px;
    }

    header a
    {
        color: orange;
    }

.modal
{
    color: #333;
}
