<div class="row">
    <div data-bind="attr: { 'class': ParticipantsStyle }">
        <div class="nano-content">
            <div class="asists-user-title">
                <p class="label-description" style="font-size: 25px; text-align: center;" data-bind="text: ParticipantsTitle"></p>
            </div>
            <div class="col-md-12">
                <div style="margin-top: 10px;" data-bind="visible: Participants().length == 0" class="not-found-message not-found-message-dark">NO HAY ASISTENTES</div>
            </div>
            <div data-bind="foreach: Participants">
                <div class="col-md-11 panel-body" style="margin-top: 15px">
                    <div class="col-md-3" style="display: inline; height: 40px; width: 75px;">
                        <a href="#" data-bind="click: Profile">
                            <img data-bind="attr: { src: ImageProfile, title: UserName }" data-toggle="tooltip" data-placement="top" style="cursor: pointer" alt="Perfil del usuario" class="participants-image-profile img-circle right" data-src="holder.js/40x40">
                        </a>
                    </div>
                    <div class="col-md-8" style="text-align: center">
                        <p class="participants-user" data-bind="text: FullName"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
