@model List<PubliEventos.Contract.Class.User>


<div class="row-fluid">
    <div class="col-md-7 partipants-panel panel panel-warning nano">
        <div class="nano-content">
            <div class="panel-heading">
                <p class="label-lobster" style="font-size: 25px; text-align: center;">Esperando Confirmación</p>
            </div>
            @foreach (var user in Model)
            {
                var imageProfile = !string.IsNullOrEmpty(user.ImageProfile) ? System.Configuration.ConfigurationManager.AppSettings["PathProfiles"] + user.ImageProfile : "/Content/images/Profiles/contact-default-image.jpg";
            
                <div class="col-md-11 panel-body" style="margin-top: 15px">
                    <div class="col-md-1" style="margin-right: 20px; display: inline;">
                        <a href="/Account/Profile/@user.Id">
                            <img src="@imageProfile" title="@user.UserName" style="cursor:pointer" alt="Perfil del usuario" class="participants-image-profile img-circle right" data-src="holder.js/40x40">
                        </a>
                    </div>
                    <div class="col-md-8" style="min-height: 40px;">
                        <p class="participants-user">@user.UserName</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
