<div data-bind="foreach: Movies">
    <div>
        <div class="col-md-8" style="padding-bottom: 60px; text-align: center;">
            <video class="movies-reported" controls poster="">
                <source data-bind="attr: { src: Path }" type="video/mp4">
                <source data-bind="attr: { src: Path }" type="video/webm">
                Su navegador no soporta este contenido.
            </video>
        </div>
        <div class="col-md-4" style="display: inline">
            <a href="#" style="float: right" data-bind="click: DisabledMultimediaContent">Desactivar Video</a>
            <a href="#" style="float: right; margin-right: 15px;">Ignorar Reporte</a>
        </div>
    </div>
</div>
<p data-bind="visible: Movies().length == 0" style="font-size: 20px" class="not-found-message">No Hay Videos Reportados</p>
