<div data-bind="foreach: Events">
    <div class="col-md-12" style="margin-bottom: 25px; margin-top: 25px;">
        <div class="col-md-12 mosaic">
            <div class="row" style="margin-top: 10px">
                <div class="col-md-12">
                    <div class="col-md-5">
                        <div class="col-md-12">
                            <img data-bind="attr: { src: PicturePath }" alt="" class="mg-responsive img-rounded image-event-detail" data-src="holder.js/1000x500">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <div>
                                <h4 class="event-title-detail" data-bind="text: Title"></h4>
                            </div>
                            <div class="margin-bottom-normal">
                                <p>
                                    <p class="font-text" style="display: inline; font-size: 15px">Fecha:</p>
                                    <strong class="font-text" style="display: inline; font-size: 15px;" data-bind="text: EventDate"></strong>
                                </p>
                                <br />
                                <p>
                                    <p class="font-text" style="display: inline; font-size: 15px;">Hora:</p>
                                    <strong class="font-text" style="display: inline; font-size: 15px;" data-bind="text: EventTime"></strong>
                                </p>
                            </div>
                            <div class="row margin-bottom-normal margin-top-normal">
                                <div class="col-md-12">
                                    <p class="event-description-detail" data-bind="text: Description"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-bottom-normal">
                            <div class="margin-bottom-normal">
                                <p>Tipo </p>
                            </div>
                            <div class="">
                                <label class="label label-default" style="font-size: 14px" data-bind="text: EventType"></label>
                            </div>
                        </div>
                        <div class="row margin-bottom-normal margin-top-normal">
                            <p>Creado por</p>
                            <div class="col-md-12">
                                <a href="#" data-bind="click: UserProfile" style="display: inline; margin-right: 15px;">
                                    <img data-bind="attr: { src: ImageProfile, title: UserName }" style="cursor: pointer" alt="Perfil del usuario" class="participants-image-profile img-rounded right" data-src="holder.js/40x40">
                                </a>
                                <p style="display: inline" class="participants-user" data-bind="text: UserName"></p>
                            </div>
                        </div>
                        <div class="row margin-top-normal">
                            <div class="col-md-3 margin-top-normal">
                                <div class="row">
                                    <p>Creado el </p>
                                    <strong style="color: black" data-bind="text: EffectDate"></strong>
                                </div>
                                <div class="row margin-top-normal">
                                    <p>Visto </p>
                                    <strong style="color: black" data-bind="text: Views"></strong>
                                </div>
                            </div>
                            <div class="col-md-9 margin-top-normal" data-bind="visible: Private">
                                <img class="icon-padlock-detail" src="/Content/Publieventos/Icons/padlock.png">
                                <strong>Evento privado</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 margin-bottom-normal">
                <div class="col-md-12">
                    <p class="font-text" style="white-space: pre-line; font-size: 15px; margin-top: 5px;" data-bind="text: Detail"></p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <div style="margin-bottom: 40px !important">
                        <a href="#" style="float: right" data-bind="click: DisabledEvent">Desactivar Evento</a>
                        <a href="#" style="float: right; margin-right: 15px;" data-bind="click: IgnoreReportedEvent">Ignorar Reporte</a>
                        <a href="#" style="float: right; margin-right: 15px;" data-bind="click: SearchReaons">Ver Motivos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-bind="visible: Events().length == 0" class="col-md-12" style="text-align: center; margin-top: 30px;">
    <p style="font-size: 20px" class="not-found-message not-found-message-dark">NO HAY EVENTOS REPORTADOS</p>
</div>
