<div data-bind="foreach: Pictures">
    <div class="col-md-12" style="margin-bottom: 25px; margin-top: 25px;">
        <div class="col-md-8" style="padding-bottom: 60px">
            <img class="pictures-reported" data-bind="attr: { src: Path }" alt="" />
        </div>
        <div class="col-md-4" style="display: inline">
            <a href="#" style="margin-right: 15px;" data-bind="click: SearchReaons">Ver Motivos</a>
            <a href="#" style="margin-right: 15px;" data-bind="click: DisabledMultimediaContent">Desactivar Foto</a>
            <a href="#" data-bind="click: IgnoreReportedMultimediaContent">Ignorar Reporte</a>
        </div>
    </div>
</div>
<div data-bind="visible: Pictures().length == 0" class="col-md-12" style="text-align: center; margin-bottom: 30px;">
    <p style="font-size: 20px" class="not-found-message not-found-message-dark">NO HAY FOTOS REPORTADAS</p>
</div>
