<div data-bind="foreach: Comments">
    <div class="row-fluid" style="margin-bottom: 20px">
        <div class="col-md-12">
            <div class="col-md-1" style="margin-right: 30px">
                <a href="#" data-bind="click: UserProfile">
                    <img data-bind="attr: { src: ImageProfile, title: UserName }" alt="Perfil del usuario" class="profile-comment img-circle right" data-src="holder.js/60x60">
                </a>
            </div>
            <div class="col-md-10 bubble-comment">
                <div class="col-md-12">
                    <small data-bind="text: CreatedBy" style="float: right; font-size: 12px;"></small>
                </div>
                <div class="comment-detail">
                    <p class="font-comment" data-bind="text: Detail"></p>
                </div>
                <div class="actions-comment">
                    <a href="#" style="float: right" data-bind="click: DisabledComment">Desactivar Comentario</a>
                    <a href="#" style="float: right; margin-right: 15px;" data-bind="click: IgnoreReportedComment">Ignorar Reporte</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-bind="visible: Comments().length == 0" class="col-md-12" style="text-align: center">
    <p style="font-size: 20px" class="not-found-message">No Hay Comentarios Reportados</p>
</div>
