@{
    ViewBag.Title = "Acceso no permitido";
    Layout = "~/Views/Shared/_LayoutPublieventos.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>No tiene permisos para realizar esa acción.</h2>
    </div>
</div>
