@{
    ViewBag.Title = "Nuevo Grupo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
    <div class="col-md-10 offset1">
        <div style="margin-bottom: 25px">
            <div class="row-fluid">
                <div class="col-md-12">
                    <h2 class="subtitle">Crear Grupo</h2>
                </div>
            </div>
        </div>
    </div>
</div>
