@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>Publieventos - Activación de cuenta</title>

    @System.Web.Optimization.Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @System.Web.Optimization.Styles.Render("/Content/bootstrap/css/bootstrap.min.css")
    @System.Web.Optimization.Styles.Render("/Content/fonts/css/font-awesome.css")

    @System.Web.Optimization.Scripts.Render("/Scripts/bootstrap.min.js")

    <link rel="stylesheet" media="all" href="/Content/Publieventos.css" />
    <link rel="icon" href="/Content/themes/images/favicon.ico">
</head>
<body>
    <div class="header">
        <div class="col-md-12">
            <div class="col-md-4">
                <a href="/Home/Index">
                    <img src="/Content/Publieventos/Images/Logo.png" class="logo" />
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-12 body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-xs-12">
                    <div class="activation-message">
                        @if (ViewBag.Active)
                        {
                            
                            <div class="alert alert-success" role="alert">
                                <h3><span class="icon-ok"></span>Activación de cuenta</h3>
                                <p>Su cuenta ha sido activada con exito.</p>
                                <p>Muchas gracias por registrarse. Disfrute de nuestro sitio.</p>
                                <br />
                                <a class="alert-link" href="../Account/Login">Ingresar a publieventos</a>
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-danger" role="alert">
                                <h3><span class="icon-remove-circle"></span>Activación caducada</h3>
                                <strong>Su activación ha caducado, para re activar su cuenta ingrese con sus datos y reenvie el email de activación.</strong>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer col-md-12">
        <div class="col-md-3">
            <img src="/Content/Publieventos/Images/Logo.png" class="logo" />
        </div>
    </div>
</body>
</html>
