@{
    ViewBag.Title = "Subir Contenidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@System.Web.Optimization.Scripts.Render("~/bundles/dropzone")
@System.Web.Optimization.Scripts.Render("/ViewScripts/Event/UploadPictures.js")

@Styles.Render("~/bundles/dropzone-css")

<style>
    .dropfiles {
        width: 100%;
        padding: 30px;
        min-height: 400px;
        border: 1px dashed #969696;
        box-shadow: 0px 0px 100px #D8D8D8 inset;
    }

    .enter {
        border: 1px dashed #969696;
        box-shadow: 0px 0px 100px #4EA546 inset;
    }

    .file-preview {
        position: relative;
        display: inline-block;
        padding: 10px;
        width: 124px;
        border: 1px solid #A2A2A2;
        box-shadow: 0px 0px 8px #AAA;
        margin: 5px;
        background: white;
        opacity: 0.3;
    }

        .file-preview.dz-processing {
            opacity: 1;
        }

        .file-preview.dz-success {
            opacity: 1;
            cursor: pointer;
        }

            .file-preview.dz-success:hover {
                background: #E4F5EB;
                border: 1px solid #1F6818;
                box-shadow: 0px 0px 8px #131313;
            }

    .file-filename {
        font-size: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .file-size {
        width: 100%;
        font-size: 12px;
        color: green;
    }

    .file-thumbnail {
        padding-top: 5px;
        width: 100px;
    }

    .close {
        content: url("/Content/themes/images/Delete-picture-image.jpg");
        display: none;
        width: 20px;
        height: 20px;
        border-radius: 15px;
        position: absolute;
        top: -8px;
        left: 110px;
    }

        .close:hover {
            box-shadow: 0px 0px 5px black;
        }

    .success {
        content: url("/Content/themes/images/check.png");
        height: 30px;
        width: 30px;
        top: -15px;
        left: 0px;
        position: absolute;
    }

    .error {
        content: url("/Content/themes/images/error.png");
        height: 30px;
        width: 30px;
        top: -15px;
        left: 0px;
        position: absolute;
    }

    .file-preview.dz-success:hover .close {
        display: inline-block;
    }

    .file-progress {
        height: 8px;
        border-radius: 1px;
        margin-top: 7px;
        display: none;
    }

    .file-upload {
        background: #66D64B;
        height: 100%;
        display: block;
        border-radius: 1px;
    }

    .default-message {
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        font-size: 20px;
        position: absolute;
        text-align: center;
    }
</style>
<div class="row-fluid">
    <div class="col-md-10 offset1">
        <div style="margin-bottom: 25px">
            <div class="row-fluid">
                <div class="col-md-12">
                    <h2 class="subtitle">Subir Fotos y Videos</h2>
                </div>
                <div class="row-fluid" style="margin-top: 90px">
                    <div class="col-md-10 offset1">
                        @Html.Hidden("EventId", (int)ViewBag.eventId)
                        <div id="detailRegion" style="display: none">
                            <strong>Cargados Correctamente:
                                <span id="processCorrect">0</span>&nbsp&nbsp&nbsp
                                Sin Cargar:
                                <span id="processErrors">0</span>
                            </strong>
                        </div>
                        <div>
                            <div class="dropfiles">
                                <div class="dz-message" data-dz-message><span class="font-text default-message">Arrastre los archivos o haga click en el recuadro para subir contenidos. Tipos permitidos jpg, png, gif, jpeg, webm y mp4.</span></div>
                            </div>
                            <div id="dz-preview-template">
                                <div class="file-preview">
                                    <div class="result"></div>
                                    <div class="file-filename"><span data-dz-name></span></div>
                                    <div class="file-size" data-dz-size></div>
                                    <img class="file-thumbnail" data-dz-thumbnail />
                                    <div class="file-progress"><span class="file-upload" data-dz-uploadprogress></span></div>
                                    <div class="close"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col-md-12">
                        <div class="col-md-12 region-buttons">
                            <a type="button" href="/Event/Detail/@ViewBag.eventId">
                                <input type="button" value="Volver" class="btn-cancel pull-left" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
